.fullscreen{
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  padding-top: 45px;
}

.find-close-places{
  height:101%;
  left: 0;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 9999;
}
.find-close-bg{
  background:black;
  height:100%;
  opacity:0.7;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.find-close-btn{
  width: 250px;
  /*height : 80px;*/
  position:absolute;
  top:50%;
  left:50%;
  margin:-40px auto 0 -125px;
  background:white;
  z-index: 200;
  text-align: center;
  color:#eee;
  padding:10px;
  cursor:pointer;
}
.find-close-btn h3{
  padding:0;
  margin:0;
}


#map-canvas{
  width:100%;
  height: 100%;
  z-index: 1;
}
#map-canvas img{
  max-width:initial;
}
.top-bar{
  z-index: 200;
}
.p-places{
  background:white;
  font-size:13px;
  height: 70%;
  max-height: 70%;
  overflow:hidden;
  position:fixed;
  right: -250px;
  top: 15%;
  width:250px;
  z-index:300;
}
.p-places-close{
  height:10%;
  font-size: 19px;
  text-align: left;
  color: #0078a0;
  background:white;
  cursor:pointer;
  width: auto;
  padding: 14px;
  line-height: 1em;
}
.p-places-wrap{
  height: 90%;
  width: 100%;
  overflow:auto;
  position:relative;
}
.p-places-btn{

}
.p-places-btn p{
}
.accordion{

}
.loader{
  width:100%;
  height:100%;
  position:fixed;
  z-index:99999;
  left:0;
  top:0;
}
.loading-bg{
  background:white;
  width:100%;
  height:100%;
  z-index:1;
  opacity:0.7;
  position:absolute;
  left:0;
  top:0;
}
.loading{
  background:url(../img/loading.gif);
  width:64px;
  height:64px;
  position:absolute;
  z-index:2;
  margin-top:-32px;
  margin-left:-32px;
  top:50%;
  left:50%;
}
.location-images ul{
  list-style:none;
  margin:0;
  padding:0;
}
.location-images ul li{
  list-style:none;
  margin:0;
  padding:0;
}
.location-images ul li img{
  width:95%;
  height:auto;
}

/* Custom scrollbar overrides */
.mCSB_inside > .mCSB_container{
  margin-right:0;
}

/* Foundation css overrides */
.accordion-navigation{

}
.accordion .accordion-navigation > a, .accordion dd > a{
  font-size:14px;
  padding:10px;
  background: #0078a0;
  color:white;
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover{
  background:white;
  color:#0078a0;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a{
  background:#008cba;
  color:white;
}

.accordion .accordion-navigation > .content, .accordion dd > .content{
  padding:10px;
}

.accordion-navigation h6{
  font-size:12px;
}